* {
  font-family: 'Nunito', sans-serif;
  background-color: #f3f2ee;
}

a.navbar-brand {
  font-size: 2em;
}


footer {
  position: relative;
  height: 50px;
  background-color: #A7226F;
  text-align: center;
  margin-top: 150px;
  text
}

#bottom {
  position: relative;
  bottom:  0;
}

.navbar {
  /* background-color: #649d66; */
  background-color: #A7226F;
}

.navbar-light .navbar-toggler {
  background-color: #2E9599;
}

a.btn {
  background-color: #f2a51a;
  border-color:  #f2a51a;
}

btn.primary:hover {
  color: #f3f2ee;
}
