* {
  font-family: 'Nunito', sans-serif;
}

a.navbar-brand {
  font-size: 2em;
}

footer {
  position: relative;
  height: 50px;
  background-color: #649d66;
  text-align: center;
  margin-top: 150px;
  text
}

#bottom {
  position: relative;
  bottom:  0;
}

.navbar {
  background-color: #649d66;
}

.navbar-light .navbar-toggler {
  background-color: #f2a51a;
}

a.btn {
  background-color: #f2a51a;
}
